Source: dbus-generator
Section: devel
Priority: extra
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 9), golang-go,  dh-golang,
               golang-dlib-dev, golang-gocheck-dev
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com

Package: dbus-generator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: static dbus binding generator for dlib
