Source: dbus-generator
Section: devel
Priority: extra
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 8.0.0), golang (>=2:1.3~rc1),  golang-gocheck-dev, go-dlib
Standards-Version: 3.9.4
Homepage: http://www.linuxdeepin.com

Package: dbus-generator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Conflicts: go-dlib (<= 0.0.2), go-dlib-dbus-proxyer
Description: Go-lang bingdings for dlib
 Go-lang bindings for dlib
