#!/usr/bin/make -f

export GOPATH := /usr/share/gocode

ifndef USE_GCCGO
  GOBUILD = go build
else
  GOBUILD = go build -compiler gccgo
endif

%:
	dh $@

override_dh_auto_build:
	mkdir -pv out
	${GOBUILD} -o out/dbus-generator

override_dh_auto_install:
	install -Dm755 out/dbus-generator debian/dbus-generator/usr/bin/dbus-generator

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	go test -v
endif

ifdef USE_GCCGO
override_dh_strip:
	true
endif
