#!/usr/bin/make -f

export GOPATH := /usr/share/gocode

%:
	dh $@

override_dh_auto_build:
	mkdir -pv out
	go build -o out/dbus-generator

override_dh_auto_install:
	install -Dm755 out/dbus-generator debian/dbus-generator/usr/bin/dbus-generator
